:root, body
{
    width: 100%;
    height: 100%;

    margin: 0;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: monospace;
    color: #EEEEEE;
}

h1, h2
{
    margin: 0;
}

h1
{
    text-align: center;
}

form
{
    display: flex;

    padding: 10px;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

#GameBoard
{
    display: flex;
    flex-direction: column;

    background-color: #333333;

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: -1;
}

#GameContainerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    align-self: stretch;
    margin: 0 10px 10px 10px;
    flex-grow: 1;
}

#GameContainer {
    width: 99%;
    height: 99%;
}

#livescore {
    font-size: 1.6em;
    margin: 5px 20px 5px 20px;
}

#GameControls
{
    background-color: #333333EE;
    
    padding: 1rem;
}

#scorelisting
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
